<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.surge.mapper.EmployeeMapper">
    <insert id="insert" parameterType="Employee" useGeneratedKeys="true" keyProperty="id">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="BEFORE">
            SELECT MAX(id) + 1 FROM employee FOR UPDATE
        </selectKey>
        INSERT INTO employee(id, name, username, password, phone, sex, id_number, create_time, update_time, create_user, update_user)
        VALUES (#{id}, #{name}, #{username}, #{password}, #{phone}, #{sex}, #{idNumber}, #{createTime}, #{updateTime}, #{createUser}, #{updateUser})
    </insert>

    <select id="findByUserName" parameterType="Employee">
        SELECT *
        FROM employee
        <where>
            <if test="username != '' and username != null">
                AND username = #{username}
            </if>
        </where>
    </select>

    <select id="find" parameterType="Employee">
        SELECT *
        FROM employee
        <where>
            <if test="name != '' and name != null">
                AND name = #{name}
            </if>
        </where>
    </select>

    <select id="findById" parameterType="Employee">
        SELECT *
        FROM employee
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
        </where>
    </select>

    <update id="update" parameterType="Employee">
        UPDATE employee
        <set>
            <if test="name != '' and name != null">
                name = #{name},
            </if>
            <if test="username != '' and username != null">
                username = #{username},
            </if>
            <if test="phone != '' and phone != null">
                phone = #{phone},
            </if>
            <if test="sex != '' and sex != null">
                sex = #{sex},
            </if>
            <if test="idNumber != '' and idNumber != null">
                id_number = #{idNumber},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
        </where>
    </update>
</mapper>